---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=2&card[exp_year]=2020&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_jHegwUMiNJsXN1mBWf1pQRgx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17f2NOEUFDmIamtgfyza1pD2",
          "object": "token",
          "card": {
            "id": "card_17f2NOEUFDmIamtgoSlG2lfB",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "L7BbpHMC1SFjvwSh",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "108.0.126.15",
          "created": 1455604318,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 16 Feb 2016 06:32:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=MyFlix+sign+up+charge&source=tok_17f2NOEUFDmIamtgfyza1pD2
    headers:
      Authorization:
      - Bearer sk_test_jHegwUMiNJsXN1mBWf1pQRgx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17f2NPEUFDmIamtgMq0M5a6Q",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17f2NPEUFDmIamtgjTQrLPTQ",
          "captured": true,
          "created": 1455604319,
          "currency": "usd",
          "customer": null,
          "description": "MyFlix sign up charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17f2NPEUFDmIamtgMq0M5a6Q/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17f2NOEUFDmIamtgoSlG2lfB",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "L7BbpHMC1SFjvwSh",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 16 Feb 2016 06:32:02 GMT
recorded_with: VCR 2.9.3
