---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=MyFlix+sign+up+charge&source=tok_17ia81EUFDmIamtghxsyfa9J
    headers:
      Authorization:
      - Bearer sk_test_jHegwUMiNJsXN1mBWf1pQRgx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17ia82EUFDmIamtg73C9KlTr"
          }
        }
  recorded_at: Fri, 26 Feb 2016 01:10:46 GMT
recorded_with: VCR 2.9.3
