---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=base&source=tok_17qU6KEUFDmIamtgLvaDtRPD
    headers:
      Authorization:
      - Bearer sk_test_jHegwUMiNJsXN1mBWf1pQRgx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 18 Mar 2016 20:21:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=base&source=tok_17qU6pEUFDmIamtghGnJdAtE
    headers:
      Authorization:
      - Bearer sk_test_jHegwUMiNJsXN1mBWf1pQRgx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_86hV4dRyZeEKdg",
          "object": "customer",
          "account_balance": 0,
          "created": 1458332532,
          "currency": "usd",
          "default_source": "card_17qU6pEUFDmIamtgNLaWv9tw",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17qU6pEUFDmIamtgNLaWv9tw",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_86hV4dRyZeEKdg",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "L7BbpHMC1SFjvwSh",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_86hV4dRyZeEKdg/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_86hVSo6ARKKPzF",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461010932,
                "current_period_start": 1458332532,
                "customer": "cus_86hV4dRyZeEKdg",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1458212171,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Base Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1458332532,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_86hV4dRyZeEKdg/subscriptions"
          }
        }
  recorded_at: Fri, 18 Mar 2016 20:22:12 GMT
recorded_with: VCR 2.9.3
